<div>
    <h2>Edit Grzyb</h2>

    <form [formGroup]="editGrzybForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" formControlName="name" required>
      </div>


      <div>
        <label for="author">Author:</label>
        <input type="text" id="author" formControlName="author" required>
      </div>


      <div>
        <button type="submit" [disabled]="editGrzybForm.invalid">Save Changes</button>
      </div>
    </form>
    <hr>

  </div>
