<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap">
<div style="text-align: center;">
  <div class="header-container">
    <div class="branding-container">
    <img src="../assets/images/OIG.QQic.jpg" alt="Logo" class="logo">
    <h1>Atlas Grzybów</h1>
    </div>
    <nav>
      <a routerLink="/Grzyby" routerLinkActive="active">Atlas Grzybów</a>
      <a routerLink="/Quiz" routerLinkActive="active">Quiz</a>
    </nav>
  </div>
  <router-outlet></router-outlet>
</div>
