<div>
    <h2>Add New Grzyb</h2>

    <form [formGroup]="addGrzybForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" formControlName="name" required>
      </div>

      <div>
        <label for="author">Author:</label>
        <input type="text" id="author" formControlName="author" required>
      </div>


      <div>
        <button type="submit" [disabled]="addGrzybForm.invalid">Add Grzyb</button>
      </div>
    </form>
    <hr>

  </div>
